doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Your Project Title
    link(rel="stylesheet", href="./public/stylesheets/styles.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js")

  body
    header
      h1 Dispomed

section
    h2 Incidents de disponibilité par produit
    p Ce graphique montre les incidents de disponibilité pour chaque produit
    div#chart-container
        div#chart-header
        div#last-report-date
        div.flex-container
            div#controls-and-search.chart-controls-container
                div#chart-controls
                p.controls Echelle de temps
                div.button-row
                    button#show-6-months.chart-button Derniers 6 mois
                    button#show-12-months.chart-button Derniers 12 mois
                div.button-row
                    button#show-24-months.chart-button Derniers 24 mois
                    button#show-all-data.chart-button Toutes les données
                p.controls Recherches
                .atc-wrapper
                    details.atc-selector
                        summary.atc-button Select ATC Classes
                        .atc-options
                            each atcClass in ATCClasses
                                .atc-option
                                    input(type="checkbox" id=`atc-${atcClass.code}` name="atc" value=atcClass.code)
                                    label(for=`atc-${atcClass.code}`)= `${atcClass.code} - ${atcClass.name}`


                input(type="text" id="search-box" placeholder="Rechercher un produit...")
            div#summary
            div#tooltip(style="position: absolute; opacity: 0; pointer-events: none;")
        div#dash

    footer
      p 2024 - Antheos

    script(type="module",src="/src/draw.js")
